.img{
    width: 100%;
    height: 100vh;
    background-image: url(./Rectangle\ \(20\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img2{
    width: 100%;
    height: 300vh;
    background-image: url(./Rectangle\ \(29\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img3{
    width: 100%; 
    height: 100vh;
    background-image: url(./Rectangle\ \(30\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}